.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card{
    width: 18rem;
}

.textDesc, .shoe-name, .shoe-desc{
    font-family: Arial !important;
}